/* colors */
$background: #e1ede6;
$button-background: #eedb6d;

$text-color: #2c2d35;
$second-color: #598d66;
$main-color: #86928b;
$color-p: #f4f6f5;

/* fonts */
$font-family: "Raleway", sans-serif;

/* adaptive */
$tablet: 768px;
$mobile: 425px;
