.welcome {
  @extend %parent-block-div;

  display: flex;
  gap: 30px;

  &__img {
    max-width: 82%;
  }
  &__wrapper {
    margin-top: 145px;
    margin-bottom: 144px;
  }
  &__wrapper_title {
    @extend %h2;
    font-size: 60px;
  }
  &__span {
    color: $second-color;
  }
  &__wrapper_p {
    @extend %p;
    color: $main-color;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  &__wrapper_btn {
    @extend %button-card;
    width: 42.4%;
  }
}
